.anchorpane {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-font-size: 16px;
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 2, 2);
    -fx-padding: 6 12 6 12;
}

.anchorpane:hover {
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
}

.anchorpane:pressed {
    -fx-background-color: #CCDDEE;
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
}

.anchorpane-selected {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-font-size: 16px;
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 172, 255, 0.3), 20, 0.1, 0, 0);
    -fx-padding: 6 12 6 12;
}

.anchorpane-selected:hover {
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
}

.anchorpane-selected:pressed {
    -fx-background-color: #CCDDEE;
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
}

.flux {
    -fx-font-size: 12px;
}